{% extends "layout.html" %}
{% block content %}
<div class="continer">
	<div class="row">
		<div class="card" style="width: 18rem;">
  		<img src="static/mac.jpg" class="card-img-top" alt="...">
	<div class="card-body">
    <h5 class="card-title">Mac Demarco</h5>
    <p class="card-text">Mac Demarco is playing tonight at Teragram Ballroom</p>
    <a href="#" class="btn btn-primary">Place a bid</a>
  </div>
</div>		
<div class="card" style="width: 18rem;">
  <img src="static/tame.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tame Impala</h5>
    <p class="card-text">KP wants to play for you</p>
    <a href="#" class="btn btn-primary">place a bid</a>
  </div>
</div>
	</div>
</div>
{% endblock%}