{% extends "layout.html" %} {% block content %}
<div class="continer">
	<div class="row">
		{% for ticket in tickets %}
		<div class="card" style="width: 18rem;">
			<img src="static/mac.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{ ticket.artist}}</h5>
				<p class="card-text">{{ ticket.artist}} at {{ ticket.venue}} on {{ ticket.concert_date_time}}</p>
				<a href="{{ url_for('ticket', ticket_id=ticket.id)}}" class="btn btn-primary">Place a bid</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock%}